.title-padding {
    padding-top: 9rem !important;
    padding-bottom: 6rem !important;
}

.nav-content-padding {
    padding-left: 8rem;
    padding-right: 8rem;
}

@media (max-width: 1400px) {
    .title-padding {
        padding: 2rem !important;
        text-align: center;
    }
}

.title-font {
    font-size: 60px !important;
}

.hello-font {
    font-size: 60px !important;
}

.shadow-white {
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 
                0 2px 4px -1px rgba(255, 255, 255, 0.06);
}

.shadow-gradient {
    box-shadow: 
        0 0 0.5rem -0.1rem #62EFABFF,
        30rem 0 0.5rem -0.1rem #F2EA7DFF,
        60rem 0 0.5rem -0.1rem #FF8797FF,
        90rem 0 0.5rem -0.1rem #E1A4F4FF,
        120rem 0 0.5rem -0.1rem #82FFF4FF;
}

@keyframes bar {

    0% { background-position: 0%; }
    100% { background-position: 200%; }

}


hr.navbar-gradient {
    border: none;
    height: 3px;
    display: block;
    background: linear-gradient(
            to right,
            #62efab 0%,
            #F2EA7D 20%,
            #FF8797 40%,
            #E1A4F4 60%,
            #82FFF4 80%,
            #62efab 100%
    );
    margin: 0;
    position: relative;
    opacity: 1;
    width: 100%;
    background-size: 200%;
    animation: bar 120s linear infinite;
}

.description-text {
    color: #9CA3AF !important;
}

.card-text {
    color: #9CA3AF !important;
    font-size: 15px !important;
}

.card-title {
    font-size: 25px !important;
}

.card-img-top {
    max-height: 12vw !important;
    object-fit: cover;
    object-position: top;
}

.card-img-top-leaf {
    object-fit: contain;
    object-position: top;
}

.card-padding {
    padding-top: 2rem !important;
    padding-bottom: 8rem !important;
}

/* swing for hovering over card and jack in the box for card entrance */